body {
  background-color: #f1f3f4;
}
.card {
  margin: auto;
  width: 500px;
}
.btn {
  margin-right: 5px;
}
.form {
  margin-top: 25px;
}
.badge {
  margin-top: 20px;
}
.txt {
  margin-right: 10px;
}